In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
(train_images,train_labels),(test_images,test_labels) = tf.keras.datasets.mnist.load_data()

In [3]:
train_images.shape

(60000, 28, 28)

In [4]:
len(train_labels)

60000

In [5]:
train_labels

array([5, 0, 4, ..., 5, 6, 8], dtype=uint8)

In [6]:
test_images.shape

(10000, 28, 28)

In [7]:
len(test_labels)

10000

In [8]:
test_labels

array([7, 2, 1, ..., 4, 5, 6], dtype=uint8)

In [12]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(512,activation=tf.nn.relu,input_shape=(28*28,)))
model.add(tf.keras.layers.Dense(10,activation=tf.nn.softmax))

In [13]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3),loss=tf.keras.losses.categorical_crossentropy,metrics=[tf.keras.metrics.categorical_accuracy])

In [14]:
train_images = train_images.reshape((60000,28*28))
train_images = train_images.astype('float32')/255

test_images = test_images.reshape(10000,28*28)
test_images = test_images.astype('float32')/255

In [15]:
train_labels = tf.keras.utils.to_categorical(train_labels)
test_labels = tf.keras.utils.to_categorical(test_labels)

In [16]:
model.fit(train_images,train_labels,epochs=5,batch_size=128,)

Train on 60000 samples
Epoch 1/5
60000/60000 [==============================] - 4s 59us/sample - loss: 0.2665 - categorical_accuracy: 0.9236
Epoch 2/5
60000/60000 [==============================] - 3s 54us/sample - loss: 0.1075 - categorical_accuracy: 0.9679
Epoch 3/5
60000/60000 [==============================] - 3s 54us/sample - loss: 0.0690 - categorical_accuracy: 0.9800
Epoch 4/5
60000/60000 [==============================] - 3s 53us/sample - loss: 0.0495 - categorical_accuracy: 0.9854
Epoch 5/5
60000/60000 [==============================] - 3s 53us/sample - loss: 0.0358 - categorical_accuracy: 0.9897

In [17]:
test_loss,test_acc = model.evaluate(test_images,test_labels,)

10000/10000 [==============================] - 1s 81us/sample - loss: 0.0591 - categorical_accuracy: 0.9809

In [18]:
print('test_loss:',test_loss,'test_acc:',test_acc)

test_loss: 0.05913250176054426 test_acc: 0.9809

In [20]:
df_final = pd.DataFrame(model.predict(test_images))

In [21]:
df_final

,0,1,2,3,4,5,6,7,8,9
0,4.106193e-07,1.854412e-07,2.482628e-05,5.755230e-04,8.657735e-10,4.707468e-07,8.230234e-11,9.993455e-01,2.187432e-06,5.077537e-05
1,4.011410e-07,3.207650e-05,9.999394e-01,1.791219e-05,5.063744e-13,1.137017e-06,2.195971e-06,1.743954e-11,6.865437e-06,1.818389e-10
2,2.460687e-06,9.972937e-01,2.019268e-04,4.198344e-05,3.463837e-04,1.176827e-05,5.300290e-05,1.404773e-03,6.393873e-04,4.657496e-06
3,9.999473e-01,5.806200e-09,5.999986e-06,6.959952e-08,2.258115e-07,5.675028e-07,2.288698e-05,5.579635e-06,7.284649e-09,1.745011e-05
4,1.184656e-06,1.101223e-08,2.349605e-06,7.199056e-09,9.944776e-01,6.871514e-08,4.613044e-06,1.647311e-05,4.342841e-06,5.493245e-03
...,...,...,...,...,...,...,...,...,...,...
9995,1.905538e-10,8.440705e-06,9.999673e-01,2.279310e-05,8.217035e-17,6.992352e-10,1.576004e-12,1.050864e-06,3.209092e-07,2.463015e-11
9996,1.143262e-09,2.078879e-07,2.639766e-06,9.994716e-01,5.253685e-15,2.575945e-04,6.761312e-14,1.235270e-08,1.164434e-07,2.677930e-04
9997,1.903603e-11,1.489955e-10,7.449171e-12,4.705216e-09,9.999703e-01,2.182721e-10,1.685202e-08,4.443915e-06,8.784812e-07,2.438233e-05
9998,5.154682e-09,9.549673e-10,2.611836e-10,4.487181e-08,2.984935e-09,9.999756e-01,4.416754e-08,8.588394e-08,2.429449e-05,5.589955e-10
9999,1.600782e-08,5.568648e-12,1.368892e-07,7.662856e-09,4.515383e-06,1.122112e-07,9.999952e-01,1.158593e-11,2.134007e-09,4.822275e-10

In [23]:
model.evaluate(test_images,test_labels)

10000/10000 [==============================] - 1s 77us/sample - loss: 0.0591 - categorical_accuracy: 0.9809

[0.05913250176054426, 0.9809]

In [25]:
df_class=pd.DataFrame(model.predict_classes(test_images))
df_class

      0
0     7
1     2
2     1
3     0
4     4
...  ..
9995  2
9996  3
9997  4
9998  5
9999  6

[10000 rows x 1 columns]