In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
date = [
    datetime(2008, 4, 1),
    datetime(2008, 4, 5),
    datetime(2008, 4, 7),
    datetime(2008, 4, 9),
    datetime(2008, 4, 10),
    datetime(2008, 4, 15),
]

In [3]:
s = pd.Series(np.arange(6), index=date)
s

2008-04-01    0
2008-04-05    1
2008-04-07    2
2008-04-09    3
2008-04-10    4
2008-04-15    5
dtype: int64

In [4]:
s.index

DatetimeIndex(['2008-04-01', '2008-04-05', '2008-04-07', '2008-04-09',
               '2008-04-10', '2008-04-15'],
              dtype='datetime64[ns]', freq=None)

In [5]:
s.index[0]

Timestamp('2008-04-01 00:00:00')

In [6]:
s[::2]

2008-04-01    0
2008-04-07    2
2008-04-10    4
dtype: int64

In [7]:
s + s[::2]

2008-04-01    0.0
2008-04-05    NaN
2008-04-07    4.0
2008-04-09    NaN
2008-04-10    8.0
2008-04-15    NaN
dtype: float64

In [8]:
s[2]

2

In [9]:
s['20080409']

3

In [10]:
s['2008/4/9']

3

In [11]:
s[2:5]

2008-04-07    2
2008-04-09    3
2008-04-10    4
dtype: int64

In [12]:
s[2:100]

2008-04-07    2
2008-04-09    3
2008-04-10    4
2008-04-15    5
dtype: int64

In [13]:
s['2008/4/1':]

2008-04-01    0
2008-04-05    1
2008-04-07    2
2008-04-09    3
2008-04-10    4
2008-04-15    5
dtype: int64

In [16]:
s[datetime(2008,4,1):]

2008-04-01    0
2008-04-05    1
2008-04-07    2
2008-04-09    3
2008-04-10    4
2008-04-15    5
dtype: int64

In [19]:
date2 = [
    datetime(2008,4,1),
    datetime(2008,4,2),
    datetime(2008,4,7),
    datetime(2008,4,8),
    datetime(2008,4,25),
    datetime(2008,4,26),
    datetime(2008,4,27),
    datetime(2008,5,2),
    datetime(2009,5,20),
    datetime(2009,5,28),
    datetime(2009,6,2),
    datetime(2009,6,20),
]

In [20]:
long_s = pd.Series(np.arange(12), index=date2)
long_s

2008-04-01     0
2008-04-02     1
2008-04-07     2
2008-04-08     3
2008-04-25     4
2008-04-26     5
2008-04-27     6
2008-05-02     7
2009-05-20     8
2009-05-28     9
2009-06-02    10
2009-06-20    11
dtype: int64

In [22]:
long_s['2009']

2009-05-20     8
2009-05-28     9
2009-06-02    10
2009-06-20    11
dtype: int64

In [24]:
long_s['2009/6']

2009-06-02    10
2009-06-20    11
dtype: int64

In [25]:
date3 = pd.DatetimeIndex([
    '2008/4/14',
    '2008/4/14',
    '2008/5/23',
    '2008/5/23',
    '2008/6/13',
    '2008/6/13'
])

In [26]:
dup_s = pd.Series(np.arange(6), index=date3)
dup_s

2008-04-14    0
2008-04-14    1
2008-05-23    2
2008-05-23    3
2008-06-13    4
2008-06-13    5
dtype: int64

In [27]:
dup_s.index.is_unique

False

In [28]:
dup_s['2008/5/23']

2008-05-23    2
2008-05-23    3
dtype: int64

In [29]:
dup_s.groupby(level=0).mean()

2008-04-14    0.5
2008-05-23    2.5
2008-06-13    4.5
dtype: float64

In [30]:
dup_s.groupby(level=0).sum()

2008-04-14    1
2008-05-23    5
2008-06-13    9
dtype: int64

In [32]:
index = pd.date_range('2008/4/1', '2008/5/30')
index

DatetimeIndex(['2008-04-01', '2008-04-02', '2008-04-03', '2008-04-04',
               '2008-04-05', '2008-04-06', '2008-04-07', '2008-04-08',
               '2008-04-09', '2008-04-10', '2008-04-11', '2008-04-12',
               '2008-04-13', '2008-04-14', '2008-04-15', '2008-04-16',
               '2008-04-17', '2008-04-18', '2008-04-19', '2008-04-20',
               '2008-04-21', '2008-04-22', '2008-04-23', '2008-04-24',
               '2008-04-25', '2008-04-26', '2008-04-27', '2008-04-28',
               '2008-04-29', '2008-04-30', '2008-05-01', '2008-05-02',
               '2008-05-03', '2008-05-04', '2008-05-05', '2008-05-06',
               '2008-05-07', '2008-05-08', '2008-05-09', '2008-05-10',
               '2008-05-11', '2008-05-12', '2008-05-13', '2008-05-14',
               '2008-05-15', '2008-05-16', '2008-05-17', '2008-05-18',
               '2008-05-19', '2008-05-20', '2008-05-21', '2008-05-22',
               '2008-05-23', '2008-05-24', '2008-05-25', '2008-05-26',
               '2008-05-27', '2008-05-28', '2008-05-29', '2008-05-30'],
              dtype='datetime64[ns]', freq='D')

In [33]:
index = pd.date_range('2008/4/1', '2008/12/30', freq='M')
index

DatetimeIndex(['2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31',
               '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30'],
              dtype='datetime64[ns]', freq='M')

In [37]:
index = pd.date_range('2008/4/1',  periods=12)
index

DatetimeIndex(['2008-04-01', '2008-04-02', '2008-04-03', '2008-04-04',
               '2008-04-05', '2008-04-06', '2008-04-07', '2008-04-08',
               '2008-04-09', '2008-04-10', '2008-04-11', '2008-04-12'],
              dtype='datetime64[ns]', freq='D')

In [39]:
index = pd.date_range(start='2008/4/1',  periods=12)
index

DatetimeIndex(['2008-04-01', '2008-04-02', '2008-04-03', '2008-04-04',
               '2008-04-05', '2008-04-06', '2008-04-07', '2008-04-08',
               '2008-04-09', '2008-04-10', '2008-04-11', '2008-04-12'],
              dtype='datetime64[ns]', freq='D')

In [38]:
index = pd.date_range(end='2008/4/1',  periods=12)
index

DatetimeIndex(['2008-03-21', '2008-03-22', '2008-03-23', '2008-03-24',
               '2008-03-25', '2008-03-26', '2008-03-27', '2008-03-28',
               '2008-03-29', '2008-03-30', '2008-03-31', '2008-04-01'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range('2008/6/1 15:02:22', periods=10)

DatetimeIndex(['2008-06-01 15:02:22', '2008-06-02 15:02:22',
               '2008-06-03 15:02:22', '2008-06-04 15:02:22',
               '2008-06-05 15:02:22', '2008-06-06 15:02:22',
               '2008-06-07 15:02:22', '2008-06-08 15:02:22',
               '2008-06-09 15:02:22', '2008-06-10 15:02:22'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range('2008/6/1 12:09:22', periods=10, normalize=True)

DatetimeIndex(['2008-06-01', '2008-06-02', '2008-06-03', '2008-06-04',
               '2008-06-05', '2008-06-06', '2008-06-07', '2008-06-08',
               '2008-06-09', '2008-06-10'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range('2008/4/1', periods=10, freq='4H',)

DatetimeIndex(['2008-04-01 00:00:00', '2008-04-01 04:00:00',
               '2008-04-01 08:00:00', '2008-04-01 12:00:00',
               '2008-04-01 16:00:00', '2008-04-01 20:00:00',
               '2008-04-02 00:00:00', '2008-04-02 04:00:00',
               '2008-04-02 08:00:00', '2008-04-02 12:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [47]:
pd.date_range('2008/4/1', periods=20, freq='1D2H39S',)

DatetimeIndex(['2008-04-01 00:00:00', '2008-04-02 02:00:39',
               '2008-04-03 04:01:18', '2008-04-04 06:01:57',
               '2008-04-05 08:02:36', '2008-04-06 10:03:15',
               '2008-04-07 12:03:54', '2008-04-08 14:04:33',
               '2008-04-09 16:05:12', '2008-04-10 18:05:51',
               '2008-04-11 20:06:30', '2008-04-12 22:07:09',
               '2008-04-14 00:07:48', '2008-04-15 02:08:27',
               '2008-04-16 04:09:06', '2008-04-17 06:09:45',
               '2008-04-18 08:10:24', '2008-04-19 10:11:03',
               '2008-04-20 12:11:42', '2008-04-21 14:12:21'],
              dtype='datetime64[ns]', freq='93639S')

In [48]:
date4 = pd.date_range('2008/4/1', periods=5)
s = pd.Series(np.arange(5), index=date4)
s

2008-04-01    0
2008-04-02    1
2008-04-03    2
2008-04-04    3
2008-04-05    4
Freq: D, dtype: int64

In [49]:
s.shift(2)

2008-04-01    NaN
2008-04-02    NaN
2008-04-03    0.0
2008-04-04    1.0
2008-04-05    2.0
Freq: D, dtype: float64

In [50]:
s.shift(-2)

2008-04-01    2.0
2008-04-02    3.0
2008-04-03    4.0
2008-04-04    NaN
2008-04-05    NaN
Freq: D, dtype: float64

In [51]:
s.shift(2, freq='2B')

2008-04-07    0
2008-04-08    1
2008-04-09    2
2008-04-10    3
2008-04-10    4
dtype: int64

In [52]:
s.shift(-2, freq='2D')

2008-03-28    0
2008-03-29    1
2008-03-30    2
2008-03-31    3
2008-04-01    4
Freq: D, dtype: int64

In [59]:
p = pd.Period(2019, freq='A-DEC')
p

Period('2019', 'A-DEC')

In [60]:
p + 2

Period('2021', 'A-DEC')

In [61]:
p - 5

Period('2014', 'A-DEC')

In [62]:
pd.Period(2025, 'A-DEC') - p

In [63]:
date5 = pd.period_range('2019/4/1', '2019/10/5', freq='M')
date5

PeriodIndex(['2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09',
             '2019-10'],
            dtype='period[M]', freq='M')

In [66]:
pd.Series(np.arange(len(date5)), index=date5)

2019-04    0
2019-05    1
2019-06    2
2019-07    3
2019-08    4
2019-09    5
2019-10    6
Freq: M, dtype: int64

In [67]:
p = pd.Period(2019, freq='A-DEC')
p

Period('2019', 'A-DEC')

In [68]:
p.asfreq('M', how='start')

Period('2019-01', 'M')

In [69]:
p.asfreq('M', how='end')

Period('2019-12', 'M')

In [70]:
p = pd.Period(2019, freq='A-JUN')
p

Period('2019', 'A-JUN')

In [71]:
p.asfreq('M', how='start')

Period('2018-07', 'M')

In [72]:
p.asfreq('M', how='end')

Period('2019-06', 'M')

In [77]:
date6 = pd.period_range('2014', '2099', freq='A-DEC')
date6

PeriodIndex(['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
             '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029',
             '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037',
             '2038', '2039', '2040', '2041', '2042', '2043', '2044', '2045',
             '2046', '2047', '2048', '2049', '2050', '2051', '2052', '2053',
             '2054', '2055', '2056', '2057', '2058', '2059', '2060', '2061',
             '2062', '2063', '2064', '2065', '2066', '2067', '2068', '2069',
             '2070', '2071', '2072', '2073', '2074', '2075', '2076', '2077',
             '2078', '2079', '2080', '2081', '2082', '2083', '2084', '2085',
             '2086', '2087', '2088', '2089', '2090', '2091', '2092', '2093',
             '2094', '2095', '2096', '2097', '2098', '2099'],
            dtype='period[A-DEC]', freq='A-DEC')

In [78]:
ps = pd.Series(len(date6), index=date6)
ps

2014    86
2015    86
2016    86
2017    86
2018    86
        ..
2095    86
2096    86
2097    86
2098    86
2099    86
Freq: A-DEC, Length: 86, dtype: int64

In [79]:
ps.asfreq('M', how='start')

2014-01    86
2015-01    86
2016-01    86
2017-01    86
2018-01    86
           ..
2095-01    86
2096-01    86
2097-01    86
2098-01    86
2099-01    86
Freq: M, Length: 86, dtype: int64

In [80]:
ps.asfreq('M', how='end')

2014-12    86
2015-12    86
2016-12    86
2017-12    86
2018-12    86
           ..
2095-12    86
2096-12    86
2097-12    86
2098-12    86
2099-12    86
Freq: M, Length: 86, dtype: int64

In [83]:
date7 = pd.date_range('2018/4/1', periods=4, freq='M')
s = pd.Series(np.arange(len(date7)), index=date7)
s

2018-04-30    0
2018-05-31    1
2018-06-30    2
2018-07-31    3
Freq: M, dtype: int64

In [84]:
ps = s.to_period()
ps

2018-04    0
2018-05    1
2018-06    2
2018-07    3
Freq: M, dtype: int64

In [85]:
ps = s.to_period('A-DEC')
ps

2018    0
2018    1
2018    2
2018    3
Freq: A-DEC, dtype: int64

In [86]:
ps = s.to_period()
ps

2018-04    0
2018-05    1
2018-06    2
2018-07    3
Freq: M, dtype: int64

In [87]:
ps.to_timestamp(how='start')

2018-04-01    0
2018-05-01    1
2018-06-01    2
2018-07-01    3
Freq: MS, dtype: int64

## 重采样 resample

In [88]:
date = pd.date_range('2018/4/1', periods=200, freq='D')
s = pd.Series(np.arange(len(date)), index=date)
s

2018-04-01      0
2018-04-02      1
2018-04-03      2
2018-04-04      3
2018-04-05      4
             ...
2018-10-13    195
2018-10-14    196
2018-10-15    197
2018-10-16    198
2018-10-17    199
Freq: D, Length: 200, dtype: int64

In [90]:
s.resample('M').mean()

2018-04-30     14.5
2018-05-31     45.0
2018-06-30     75.5
2018-07-31    106.0
2018-08-31    137.0
2018-09-30    167.5
2018-10-31    191.0
Freq: M, dtype: float64

In [91]:
date = pd.date_range('2008/4/1', periods=12, freq='D')
s = pd.Series(np.arange(len(date)), index=date)
s

2008-04-01     0
2008-04-02     1
2008-04-03     2
2008-04-04     3
2008-04-05     4
2008-04-06     5
2008-04-07     6
2008-04-08     7
2008-04-09     8
2008-04-10     9
2008-04-11    10
2008-04-12    11
Freq: D, dtype: int64

In [92]:
s.resample('5D', closed='right', label='right').sum()

2008-04-01     0
2008-04-06    15
2008-04-11    40
2008-04-16    11
Freq: 5D, dtype: int64

In [93]:
s.resample('5D', closed='left', label='left').sum()

2008-04-01    10
2008-04-06    35
2008-04-11    21
Freq: 5D, dtype: int64

In [94]:
s.resample('5D', closed='right', label='right', loffset='-1D').sum()

2008-03-31     0
2008-04-05    15
2008-04-10    40
2008-04-15    11
Freq: 5D, dtype: int64

In [98]:
date = [datetime(2018, 4, 3), datetime(2018, 4, 13)]
s = pd.Series([2, 5], index=date)
s

2018-04-03    2
2018-04-13    5
dtype: int64

In [99]:
s.resample('D').ffill()

2018-04-03    2
2018-04-04    2
2018-04-05    2
2018-04-06    2
2018-04-07    2
2018-04-08    2
2018-04-09    2
2018-04-10    2
2018-04-11    2
2018-04-12    2
2018-04-13    5
Freq: D, dtype: int64

In [103]:
s.resample('D').ffill(2)

2018-04-03    2.0
2018-04-04    2.0
2018-04-05    2.0
2018-04-06    NaN
2018-04-07    NaN
2018-04-08    NaN
2018-04-09    NaN
2018-04-10    NaN
2018-04-11    NaN
2018-04-12    NaN
2018-04-13    5.0
Freq: D, dtype: float64

In [104]:
s.resample('D').ffill(4)

2018-04-03    2.0
2018-04-04    2.0
2018-04-05    2.0
2018-04-06    2.0
2018-04-07    2.0
2018-04-08    NaN
2018-04-09    NaN
2018-04-10    NaN
2018-04-11    NaN
2018-04-12    NaN
2018-04-13    5.0
Freq: D, dtype: float64